			<div style="height:1px"></div>
            <hr>
			<div class="footer">
				&copy; 2013 Download @ NUS
			</div>
		</div>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="js/bootstrap.min.js"></script>
		<script src="holder.js"></script>
	</body>
</html>