			<div style="height:1px"></div>
            <hr>
			<div class="footer">
				&copy; Copyright 2013 National University of Singapore. All Rights Reserved.
			</div>
		</div>

		<!-- Le javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="/js/bootstrap.min.js"></script>
		<script src="/holder.js"></script>
		<script>
			function deleteDataset(){
				vex.dialog.confirm({
					message: "Are you sure you want to delete this dataset? This cannot be undone!",
					callback: function(val){
						if(val){
							$.ajax({
								url: window.location,
								type: 'DELETE',
								async: false
							});
							window.location.pathname = "/";
						}
					}
				})
			}
		</script>
	</body>
</html>
