<% include header %>
<% include searchform.ejs %>
<div class="row">
    <div class="col-lg-3 col-sm-3">
        <a href="/data" class="btn glyphicon glyphicon-save big-icon"></a>
        <h3>Open</h3>
        <p class="lead">Download@NUS is an open-platform. Anyone can access our collection of data.</p>
        <a href="/data">More...</a>
    </div>
    <div class="col-lg-3 col-sm-3">
        <a href="/upload" class="btn glyphicon glyphicon-cloud-upload big-icon"></a>
        <h3>Community</h3>
        <p class="lead">All data is contributed by members of the NUS research community.</p>
        <a href="/upload">More...</a>
    </div>
    <div class="col-lg-3 col-sm-3">
        <div class="btn glyphicon glyphicon-tower big-icon"></div>
        <h3>Big</h3>
        <p class="lead">Download@NUS is able to accommodate to large data sets in the magnitude of GBs.</p>
    </div>
    <div class="col-lg-3 col-sm-3">
        <a href="/mirror/" class="btn glyphicon glyphicon-globe big-icon"></a>
        <h3>Mirrors</h3>
        <p class="lead">Download@NUS also hosts some mirrors for various open-source projects</p>
        <a href="/mirror/">More...</a>
    </div>
</div>    
<% include footer %>
