<% include header %>
<% include searchform.ejs %>
<div class="row">
    <div class="col-lg-4 col-sm-4">
        <img data-src="holder.js/100x100" class="img-circle">
        <h3>Open</h3>
        <p class="lead">Download@NUS is an open-platform. Anyone can access our collection of data.</p>
    </div>
    <div class="col-lg-4 col-sm-4">
        <img data-src="holder.js/100x100" class="img-circle">
        <h3>Community</h3>
        <p class="lead">All data is contributed by members of the NUS research community.</p>
    </div>
    <div class="col-lg-4 col-sm-4">
        <img data-src="holder.js/100x100" class="img-circle">
        <h3>Big</h3>
        <p class="lead">Download@NUS is able to accommodate to large data sets in the magnitude of GBs.</p>
    </div>
</div>    
<% include footer %>
