@import "mixins";

body, html{
    margin: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    background: lighten(#f1e767, 30);
    overflow-x: hidden;
}

ul.clear-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

$max-width: 1000px;

#main, #main-header, #main-footer{
    width: 100%;

    .inner{
        max-width: $max-width;
        width: 100%;
        margin: 0 auto;
        padding: 0 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
}

#main-header{
    text-shadow: 0 1px 0px rgba(white, 0.5);
    box-shadow: 0 0 5px black;

    @include gradient(top, #f1e767, #feb645);

    h1{
        $extension: 1em;
        border-bottom: 2px solid black;
        box-shadow: 0 1px 0px white;
        padding: 0;
        margin: 0 (-$extension);
        padding: 10px $extension;
        margin-bottom: 2px;
    }

    nav{
        li{
            float: left;
        }
        ul:after{
            content: '';
            clear: both;
            display: block;
        }
        a:link, a:visited{
            color: black;
            text-decoration: none;
            padding: 10px;
            display: inline-block;
            padding-bottom: 5px;
            font-weight: bold;
            border-bottom: 3px solid darken(#feb645, 20);

            @include transition-duration(0.2s);

            &.impt{
                border-bottom: 3px solid red;
            }
        }

        a:hover{
            background: #f1e767;
            border-bottom: 3px solid darken(#feb645, 10);
        }

        li:not(:last-of-type):after{
            content: "-";
        }
    }
}

#main{
    padding-top: 2em;
    border-bottom: 1px dashed rgba(black, 0.5);
    min-height: 500px;
}

#main-footer{
    height: 5em;
    text-align: center;
    line-height: 5em;
    
    border-top: 1px dashed white;
}

.filter-bar{
    padding: 1em;
    border-radius: 10px;
    margin: 0 1em;
    margin-bottom: 2em;
    border: 1px solid #f1e767;
    padding-left: 50px;

    @include gradient(top, lighten(#f1e767, 10), lighten(#feb645, 10));

    input{
        width: 60%;
        font-size: 1.5em;
    }

    select{
        width: 30%;
        margin-left: 10%;
        font-size: 1.5em;
    }
}

.loading{
    background: green;
    height: 100px;
    width: 100px;
    margin: 0 auto;
    border-radius: 200px;

    &.hidden{
        display: none;
    }
}

.bundle-list{
    &>li{
        $size: 7.5em;
        cursor: pointer;
        border-radius: 5px;
        margin: 20px 0;
        box-shadow:  2px 0 4px rgba(black, 0.5),
                    -2px 0 4px rgba(black, 0.5),
                    inset 0 2px 2px rgba(white, 0.5),
                    inset 0 5px 7px rgba(white, 0.2);
        position: relative;
        height: $size;
        overflow: hidden;
        padding-left: $size - 1em;
        text-shadow: 0 1px 1px white;

        @include gradient(top, lighten(#f1e767, 20), lighten(#feb645, 15));
        @include transition-duration(0.2s);

        &:hover{
            @include gradient(top, lighten(#f1e767, 25), lighten(#feb645, 20));
        }

        &:active{
            box-shadow: 0 2px 2px white,
                        inset 0 0 5px rgba(black, 0.5);

            @include gradient(top, lighten(#f1e767, 18), lighten(#feb645, 17));
        }

        .icon{
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: $size - 1em;

            background-color: rgba(#feb645, 0.2);
        }

        .type{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 5px;
            text-align: center;
        }

        .category{
            float: right;
        }

        .name{
            float: left;
        }

        .heading:after{
            content: '';
            display: block;
            clear: both;
        }

        .heading{
            padding-bottom: 5px;
            margin: 0 10px;
            padding-top: 10px;
            border-bottom: 1px solid black;
            box-shadow:  0 1px 0 white;
        }

        .footer{
            text-align: right;
            padding: 10px;
        }

        .description{
            white-space:nowrap;
            text-overflow: ellipsis;
            padding: 10px;
            overflow: hidden;
            height: 1.8em;
        }
    }
}