{
    "app": {
        "host": "127.0.0.1:8080", 
        "ip": "0.0.0.0", 
        "port": 8080,
        "debug": false
    }, 
    "db": {
        "database": "download_nus", 
        "pass": "", 
        "user": "root",
        "opt": {
            "dialetc": "mysql",
            "host": "localhost",
            "port": 3306,
            "pool": {
                "maxConnections": 5,
                "maxIdleTime": 30
            },
            "define": {
                "engine": "aria"
            },
            "logging": false
        }
    }, 
    "date": {
        "format": "d mmmm yyyy"
    }, 
    "session": {
        "maxAge": 60000, 
        "secret": "dan"
    },
    "fs": {
        "dir": "./static/repo/",
        "mimeAllowed": [
            "text/plain",
            "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
            "application/vnd.ms-excel"
        ]
    }
}
