<% include header %>
<% include searchform.ejs %>
<% if (typeof error !== 'undefined') { %>
    <h2><%= error.title %></h2>
    <p><%= error.description %></p>
<% } else { %>
    <h2>Search results for "<%= search %>"</h2>
    <% include datasets %>
<% } %>
<% include footer %>
